<div class="student-list">
	<div>
		<span><a href="/{{classId}}/add/student" class="btn btn-primary btn-lg">添加学生</a></span>
		<span><a href="#" class="btn btn-primary btn-lg" ng-click="showMachineNumberModal()">机器号录入</a></span>
		<span><button  class="btn btn-warning pull-right" ng-click="delSelectStu()">删除</button></span>
	</div>
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<td>
			      <input type="checkbox" ng-model="allSelect"/>
			  	</td>
				<td>学校名称</td>
				<td>年级</td>
				<td>班级</td>
				<td>学籍号</td>
				<td>姓名</td>
				<td>序号</td>
				<td>机器号</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in students" ng-click="showDetail()">
				<td>
			      <input type="checkbox" ng-checked="allSelect" name="selectStu" ng-click="checkStu($event)"/>
			  	</td>
				<td>{{student.stu_school}}</td>
				<td>{{student.stu_grade}}</td>
				<td>{{student.stu_class}}</td>
				<td>{{student.stu_number}}</td>
				<td>{{student.stu_name}}</td>
				<td>{{student.stu_serial_number}}</td>
				<td>{{student.stu_machine_number}}</td>
			</tr>
		</tbody>
	</table>
</div>